.main-container{padding-top: 5%;}
.loading {
    position: fixed;
    background-color: #000000;
    opacity: .35;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999999;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 25% auto;
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: yellow;
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
.add-button {
  float: right;
  margin-right: 17px;
}
.table{
	float: left;
}
.modal-body {
  float: left;
  width: 100%;
}
.main-container h3 {
  float: left;
  margin-bottom: 18px;
  margin-top: 0;
  padding-left: 15px;
  padding-top: 8px;
}
.edit_photo, .delete_photo {
  margin: 5px;
}
#photoListTbl tr td {
  word-break: break-all;
}
.form-control {
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  box-shadow: none;
  float: left;
  min-height: 48px;
  width: 81%;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
label {
  float: left;
  margin-right: 6px;
  padding-top: 16px;
}
.modal-body .col-lg-6 {
  padding: 0;
}
.form-control:focus {
  box-shadow: none;
}